.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}
.pull-right{float:right!important}
*,:after,:before{box-sizing:border-box}
html{font-size:62.5%;-webkit-tap-highlight-color:transparent}
body{font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}
button,input{font-family:inherit;font-size:inherit;line-height:inherit}
a{color:#428bca;text-decoration:none}
a:focus,a:hover{color:#2a6496;text-decoration:underline}
a:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}
.h1,.h3,.h4,h1,h3,h4{line-height:1.1;color:inherit}
.h1 small,.h3 small,.h4 small,h1 small,h3 small,h4 small{font-weight:400;line-height:1;color:#999}
h1,h3{margin-top:20px;margin-bottom:10px}
h1 small,h3 small{font-size:65%}
h4{margin-top:10px;margin-bottom:10px}
h4 small{font-size:75%}
.h1,h1{font-size:36px}
.h3,h3{font-size:24px}
.h4,h4{font-size:18px}
p{margin:0 0 10px}
.lead{margin-bottom:20px;font-size:16px;font-weight:200;line-height:1.4}
.text-muted{color:#999}
.text-primary:hover{color:#3071a9}
.text-warning:hover{color:#66512c}
.text-danger:hover{color:#843534}
.text-success:hover{color:#2b542c}
.text-info:hover{color:#245269}
.text-left{text-align:left}
.text-center{text-align:center}
.page-header{padding-bottom:9px;margin:40px 0 20px;border-bottom:1px solid #eee}
ul{margin-top:0;margin-bottom:10px}
ol ul,ul ol,ul ul{margin-bottom:0}
.list-inline>li:first-child{padding-left:0}
abbr[title]{cursor:help;border-bottom:1px dotted #999}
blockquote p{font-size:17.5px;font-weight:300;line-height:1.25}
blockquote p:last-child{margin-bottom:0}
blockquote .small:before,blockquote small:before{content:'\2014 \00A0'}
blockquote.pull-right{padding-right:15px;padding-left:0;border-right:5px solid #eee;border-left:0}
blockquote.pull-right p,blockquote.pull-right small{text-align:right}
blockquote.pull-right .small:before,blockquote.pull-right small:before{content:''}
blockquote.pull-right .small:after,blockquote.pull-right small:after{content:'\00A0 \2014'}
blockquote:after,blockquote:before{content:""}
address{margin-bottom:20px;font-style:normal;line-height:1.42857143}
label{display:inline-block;margin-bottom:5px;font-weight:700}
input[type=search]{box-sizing:border-box}
input[type=checkbox]:focus,input[type=file]:focus,input[type=radio]:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
output{display:block;padding-top:7px;font-size:14px;line-height:1.42857143;color:#555;vertical-align:middle}
.form-control:focus{border-color:#66afe9;outline:0;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.form-control:-moz-placeholder{color:#999}
.form-control::-moz-placeholder{color:#999;opacity:1}
.form-control:-ms-input-placeholder{color:#999}
.form-control::-webkit-input-placeholder{color:#999}
.has-warning .form-control:focus{border-color:#66512c;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #c0a16b}
.has-error .form-control:focus{border-color:#843534;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483}
.has-success .form-control:focus{border-color:#2b542c;box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168}
.form-horizontal .form-group:after,.form-horizontal .form-group:before{content:" ";display:table}
.form-horizontal .form-group:after{clear:both}
.nav{margin-bottom:0;padding-left:0;list-style:none}
.nav:after,.nav:before{content:" ";display:table}
.nav:after{clear:both}
.nav>li{position:relative;display:block}
.nav>li>a{position:relative;display:block;padding:10px 15px}
.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#eee}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover{color:#999;text-decoration:none;background-color:transparent;cursor:not-allowed}
.nav .open>a,.nav .open>a:focus,.nav .open>a:hover{background-color:#eee;border-color:#428bca}
.nav>li>a>img{max-width:none}
.nav-tabs>li>a:hover{border-color:#eee #eee #ddd}
.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{color:#555;background-color:#fff;border:1px solid #ddd;border-bottom-color:transparent;cursor:default}
.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border:1px solid #ddd}
.nav-pills>li{float:left}
.nav-pills>li>a{border-radius:4px}
.nav-pills>li+li{margin-left:2px}
.nav-pills>li.active>a:focus,.nav-pills>li.active>a:hover{color:#fff;background-color:#428bca}
.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border:1px solid #ddd}
.navbar:after,.navbar:before{content:" ";display:table}
.navbar:after{clear:both}
.navbar-header:after,.navbar-header:before{content:" ";display:table}
.navbar-header:after{clear:both}
.navbar-collapse:after,.navbar-collapse:before{content:" ";display:table}
.navbar-collapse:after{clear:both}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none}
.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{color:#5e5e5e;background-color:transparent}
.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{color:#333;background-color:transparent}
.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{color:#555;background-color:#e7e7e7}
.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{color:#ccc;background-color:transparent}
.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{background-color:#ddd}
.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{background-color:#e7e7e7;color:#555}
.navbar-default .navbar-link:hover{color:#333}
.navbar-inverse .navbar-brand:focus,.navbar-inverse .navbar-brand:hover{color:#fff;background-color:transparent}
.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{color:#fff;background-color:transparent}
.navbar-inverse .navbar-nav>.active>a:focus,.navbar-inverse .navbar-nav>.active>a:hover{color:#fff;background-color:#080808}
.navbar-inverse .navbar-nav>.disabled>a:focus,.navbar-inverse .navbar-nav>.disabled>a:hover{color:#444;background-color:transparent}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#333}
.navbar-inverse .navbar-nav>.open>a:focus,.navbar-inverse .navbar-nav>.open>a:hover{background-color:#080808;color:#fff}
.navbar-inverse .navbar-link:hover{color:#fff}
.badge{display:inline-block;min-width:10px;padding:3px 7px;font-size:12px;font-weight:700;color:#fff;line-height:1;vertical-align:baseline;white-space:nowrap;text-align:center;background-color:#999;border-radius:10px}
.badge:empty{display:none}
.btn .badge{position:relative;top:-1px}
a.badge:focus,a.badge:hover{color:#fff;text-decoration:none;cursor:pointer}
.nav-pills>li>a>.badge{margin-left:3px}
.container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px}
.container:after,.container:before{content:" ";display:table}
.container:after{clear:both}
.row{margin-left:-15px;margin-right:-15px}
.row:after,.row:before{content:" ";display:table}
.row:after{clear:both}
.col-lg-12,.col-lg-4,.col-md-4,.col-sm-4{position:relative;min-height:1px;padding-left:15px;padding-right:15px}
.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px}
.btn:focus,.btn:hover{color:#333;text-decoration:none}
.btn:active{outline:0;background-image:none;box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
.btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;pointer-events:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none}
.btn-default:active,.btn-default:focus,.btn-default:hover{color:#333;background-color:#ebebeb;border-color:#adadad}
.btn-default:active{background-image:none}
.btn-default.disabled:active,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled]:active,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{background-color:#fff;border-color:#ccc}
.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd}
.btn-primary:active,.btn-primary:focus,.btn-primary:hover{color:#fff;background-color:#3276b1;border-color:#285e8e}
.btn-primary:active{background-image:none}
.btn-primary.disabled:active,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled],.btn-primary[disabled]:active,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary,fieldset[disabled] .btn-primary:active,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{background-color:#428bca;border-color:#357ebd}
.btn-primary .badge{color:#428bca;background-color:#fff}
.btn-warning:active,.btn-warning:focus,.btn-warning:hover{color:#fff;background-color:#ed9c28;border-color:#d58512}
.btn-warning:active{background-image:none}
.btn-warning.disabled:active,.btn-warning.disabled:focus,.btn-warning.disabled:hover,.btn-warning[disabled]:active,.btn-warning[disabled]:focus,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:active,fieldset[disabled] .btn-warning:focus,fieldset[disabled] .btn-warning:hover{background-color:#f0ad4e;border-color:#eea236}
.btn-danger:active,.btn-danger:focus,.btn-danger:hover{color:#fff;background-color:#d2322d;border-color:#ac2925}
.btn-danger:active{background-image:none}
.btn-danger.disabled:active,.btn-danger.disabled:focus,.btn-danger.disabled:hover,.btn-danger[disabled]:active,.btn-danger[disabled]:focus,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:active,fieldset[disabled] .btn-danger:focus,fieldset[disabled] .btn-danger:hover{background-color:#d9534f;border-color:#d43f3a}
.btn-success{color:#fff;background-color:#5cb85c;border-color:#4cae4c}
.btn-success:active,.btn-success:focus,.btn-success:hover{color:#fff;background-color:#47a447;border-color:#398439}
.btn-success:active{background-image:none}
.btn-success.disabled:active,.btn-success.disabled:focus,.btn-success.disabled:hover,.btn-success[disabled],.btn-success[disabled]:active,.btn-success[disabled]:focus,.btn-success[disabled]:hover,fieldset[disabled] .btn-success,fieldset[disabled] .btn-success:active,fieldset[disabled] .btn-success:focus,fieldset[disabled] .btn-success:hover{background-color:#5cb85c;border-color:#4cae4c}
.btn-success .badge{color:#5cb85c;background-color:#fff}
.btn-info:active,.btn-info:focus,.btn-info:hover{color:#fff;background-color:#39b3d7;border-color:#269abc}
.btn-info:active{background-image:none}
.btn-info.disabled:active,.btn-info.disabled:focus,.btn-info.disabled:hover,.btn-info[disabled]:active,.btn-info[disabled]:focus,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:active,fieldset[disabled] .btn-info:focus,fieldset[disabled] .btn-info:hover{background-color:#5bc0de;border-color:#46b8da}
.btn-link{color:#428bca;font-weight:400;cursor:pointer;border-radius:0}
.btn-link,.btn-link:active,.btn-link[disabled],fieldset[disabled] .btn-link{background-color:transparent;box-shadow:none}
.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover{border-color:transparent}
.btn-link:focus,.btn-link:hover{color:#2a6496;text-decoration:underline;background-color:transparent}
.btn-link[disabled]:focus,.btn-link[disabled]:hover,fieldset[disabled] .btn-link:focus,fieldset[disabled] .btn-link:hover{color:#999;text-decoration:none}
.btn-lg{padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px}
.btn-xs{padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px}
input[type=button].btn-block{width:100%}
.panel{margin-bottom:20px;background-color:#fff;border:1px solid transparent;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,.05)}
.panel-body{padding:15px}
.panel-body:after,.panel-body:before{content:" ";display:table}
.panel-body:after{clear:both}
.panel>.list-group .list-group-item:first-child{border-top-right-radius:0;border-top-left-radius:0}
.panel>.list-group .list-group-item:last-child{border-bottom:0}
.panel-heading+.list-group .list-group-item:first-child{border-top-width:0}
.panel>.table>tbody:first-child td,.panel>.table>tbody:first-child th{border-top:0}
.panel>.table-bordered>tbody>tr>td:first-child,.panel>.table-bordered>tbody>tr>th:first-child,.panel>.table-bordered>tfoot>tr>td:first-child,.panel>.table-bordered>tfoot>tr>th:first-child,.panel>.table-bordered>thead>tr>td:first-child,.panel>.table-bordered>thead>tr>th:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:first-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:first-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:first-child,.panel>.table-responsive>.table-bordered>thead>tr>td:first-child,.panel>.table-responsive>.table-bordered>thead>tr>th:first-child{border-left:0}
.panel>.table-bordered>tbody>tr>td:last-child,.panel>.table-bordered>tbody>tr>th:last-child,.panel>.table-bordered>tfoot>tr>td:last-child,.panel>.table-bordered>tfoot>tr>th:last-child,.panel>.table-bordered>thead>tr>td:last-child,.panel>.table-bordered>thead>tr>th:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>td:last-child,.panel>.table-responsive>.table-bordered>tbody>tr>th:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>td:last-child,.panel>.table-responsive>.table-bordered>tfoot>tr>th:last-child,.panel>.table-responsive>.table-bordered>thead>tr>td:last-child,.panel>.table-responsive>.table-bordered>thead>tr>th:last-child{border-right:0}
.panel>.table-bordered>tbody>tr:last-child>td,.panel>.table-bordered>tbody>tr:last-child>th,.panel>.table-bordered>tfoot>tr:last-child>td,.panel>.table-bordered>tfoot>tr:last-child>th,.panel>.table-bordered>thead>tr:last-child>td,.panel>.table-bordered>thead>tr:last-child>th,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>td,.panel>.table-responsive>.table-bordered>tbody>tr:last-child>th,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>td,.panel>.table-responsive>.table-bordered>tfoot>tr:last-child>th,.panel>.table-responsive>.table-bordered>thead>tr:last-child>td,.panel>.table-responsive>.table-bordered>thead>tr:last-child>th{border-bottom:0}
.panel-title{margin-top:0;margin-bottom:0;font-size:16px;color:inherit}
.panel-title>a{color:inherit}
.panel-footer{padding:10px 15px;background-color:#f5f5f5;border-top:1px solid #ddd;border-bottom-right-radius:3px;border-bottom-left-radius:3px}
.panel-default{border-color:#ddd}
.jumbotron{padding:30px;margin-bottom:30px;font-size:21px;font-weight:200;line-height:2.14285714;color:inherit}
.jumbotron .h1,.jumbotron h1{line-height:1;color:inherit}
.jumbotron p{line-height:1.4}
.container .jumbotron{border-radius:6px}
.jumbotron .container{max-width:100%}
.label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em}
.label[href]:focus,.label[href]:hover{color:#fff;text-decoration:none;cursor:pointer}
.label:empty{display:none}
.btn .label{position:relative;top:-1px}
.label-default[href]:focus,.label-default[href]:hover{background-color:gray}
.label-primary[href]:focus,.label-primary[href]:hover{background-color:#3071a9}
.label-success{background-color:#5cb85c}
.label-success[href]:focus,.label-success[href]:hover{background-color:#449d44}
.label-info[href]:focus,.label-info[href]:hover{background-color:#31b0d5}
.label-warning[href]:focus,.label-warning[href]:hover{background-color:#ec971f}
.label-danger[href]:focus,.label-danger[href]:hover{background-color:#c9302c}
.browsehappy{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
body{padding-top:20px;padding-bottom:20px}
.footer,.header,.marketing{padding-left:15px;padding-right:15px}
.header{border-bottom:1px solid #e5e5e5}
.header h3{margin-top:0;margin-bottom:0;line-height:40px;padding-bottom:19px}
.footer{padding-top:19px;color:#777;border-top:1px solid #e5e5e5}
.jumbotron{text-align:center;border-bottom:1px solid #e5e5e5}
.jumbotron .btn{font-size:21px;padding:14px 24px}
.marketing{margin:40px 0}
.footer{text-align:center}
body{font-family:"Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif}
.h1,.h3,.h4,h1,h3,h4{font-family:"Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:800}
.jumbotron{background-color:transparent}
@media (min-width:768px){.lead{font-size:21px}
}
@media (min-width:768px){.dl-horizontal dd:after,.dl-horizontal dd:before{content:" ";display:table}
.dl-horizontal dd:after{clear:both}
}
@media (min-width:768px){.nav-tabs.nav-justified>.active>a:focus,.nav-tabs.nav-justified>.active>a:hover{border-bottom-color:#fff}
}
@media (min-width:768px){.nav-tabs-justified>.active>a:focus,.nav-tabs-justified>.active>a:hover{border-bottom-color:#fff}
}
@media (max-width:767px){.navbar-nav .open .dropdown-menu>li>a:focus,.navbar-nav .open .dropdown-menu>li>a:hover{background-image:none}
}
@media (min-width:768px){.navbar-nav.navbar-right:last-child{margin-right:-15px}
}
@media (min-width:768px){.navbar-form.navbar-right:last-child{margin-right:-15px}
}
@media (min-width:768px){.navbar-text.navbar-right:last-child{margin-right:0}
}
@media (max-width:767px){.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{color:#333;background-color:transparent}
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover{color:#555;background-color:#e7e7e7}
.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-default .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#ccc;background-color:transparent}
}
@media (max-width:767px){.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:transparent}
.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover{color:#fff;background-color:#080808}
.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:focus,.navbar-inverse .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#444;background-color:transparent}
}
@media (min-width:768px){.container{width:750px}
}
@media (min-width:992px){.container{width:970px}
}
@media (min-width:1200px){.container{width:1170px}
}
@media (min-width:768px){.col-sm-4{float:left}
.col-sm-4{width:33.33333333%}
}
@media (min-width:992px){.col-md-4{float:left}
.col-md-4{width:33.33333333%}
}
@media (min-width:1200px){.col-lg-12,.col-lg-4{float:left}
.col-lg-12{width:100%}
.col-lg-4{width:33.33333333%}
}
@media screen and (min-width:768px){.jumbotron{padding-top:48px;padding-bottom:48px}
.container .jumbotron{padding-left:60px;padding-right:60px}
.jumbotron .h1,.jumbotron h1{font-size:63px}
}
@media screen and (min-width:768px){.container{max-width:730px}
.footer,.header,.marketing{padding-left:0;padding-right:0}
.header{margin-bottom:30px}
.jumbotron{border-bottom:0}
}
